body {
    margin: 0;
    padding: 0;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    font-family: 'Montserrat';
    font-size: 18px;
}

.container {
    max-width: 340px;
    max-height: 650px;
}

.grid {
    display: grid;
    grid-template-columns: 20px 5px 100px 15px repeat(8, 4px 15px) 5px 20px;
    grid-template-rows: 5px 5px 20px 139px 25px repeat(11, 2px 2px 15px) 3px 5px 10px 30px 10px 5px;
}

.oblast-1 {
    background: black;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 22;
}

.oblast-2 {
    background: black;
    grid-row-start: 40;
    grid-row-end: 41;
    grid-column-start: 2;
    grid-column-end: 22;
}

.oblast-3 {
    background: black;
    grid-row-start: 2;
    grid-row-end: 41;
    grid-column-start: 2;
    grid-column-end: 3;
}

.oblast-4 {
    background: black;
    grid-row-start: 2;
    grid-row-end: 41;
    grid-column-start: 21;
    grid-column-end: 22;
}
